.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont';  /* project id 1552276 */
  src: url('//at.alicdn.com/t/font_1552276_tx6ftzl0qz.eot');
  src: url('//at.alicdn.com/t/font_1552276_tx6ftzl0qz.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1552276_tx6ftzl0qz.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1552276_tx6ftzl0qz.woff') format('woff'),
  url('//at.alicdn.com/t/font_1552276_tx6ftzl0qz.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1552276_tx6ftzl0qz.svg#iconfont') format('svg');
}